<head>
  <meta charset="utf-8">
  <title>InterMine Registry</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

   <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom-bootstrap-margin-padding.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/customButtons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/alerts.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/gridComponent.css" />
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /> -->
  <link rel="stylesheet" href="/stylesheets/leafletMap.css" />
  <link href="https://fonts.googleapis.com/css?family=Coda:800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/addInstance.css" />
  <style>
    #map { height: 500px; }
  </style>
</head>
