/* General Demo Style */

html {
	height: 100%;
}

body {
    background: #ededed;
    font-weight: 300;
		height: auto;
    font-size: 15px;
    color: #333;
    overflow-x: hidden;
}

.modal-header{

}

.first-toolbar-icon{
	display: block !important;
}

.nopadding{
	padding: 0 0 0 0 !important;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}


*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.align-center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: block;
}

.align-right {
    margin: 0 auto;
    text-align: right;
    align-items: right;
    display: block;
}

.align-left {
    margin: 0 auto;
    text-align: left;
    align-items: left;
    display: block;
}

.right {
    float: right !important;
}

.vertical-align-middle{
		vertical-align: middle !important;
		position: relative;
}

.bold{
	font-weight: bold;
}

.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-desc{
	color: #444;
}

.nav-icons{
	color: #444 !important;
}

#view-type {
  font-size: 40px;
}

.header-title{
	color: white;
	word-wrap: break-word;
}

.header-text{
	color: #cccccc;
	opacity: 0;
	word-wrap: break-word;
  font-size: 18px;
}

.container {
	width: 100%;
	position: relative;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.link-to {
     cursor:pointer;
} 
