
.nav {
    display: block;
}

.navbar, .navbar-default, .navbar-nav, .navbar-collapse, #myTopnav{
    margin: 0 0 0 0;
    border-bottom: 0px;
    color: white !important;
}


.navbar-toggle
{
    float:none;

}
.navbar-header
{
    text-align:center;
}

.navbar-default .navbar-nav>li>a {
    color: black !important;
}

.navbar-default > div > ul > a{
  color: black !important;
}

.navbar-nav > li >a:hover {
   background-color: transparent;
}

.navbar, .navbar.navbar-default{
  background-color: white !important;
}

.navbar-nav > li >a {
   color: white;
}

.topnav, .navbar-collapse, .navbar-header {
    background-color: 444;
    overflow: hidden;
    color: #fff;
    padding: 5px 0px;
    border-bottom: 1px solid #596a02;
    font-size: 1em;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
}

.navbar .dropdown-menu li > a, .navbar.navbar-default .dropdown-menu li > a {
  font-size: 1em;
}


/* Change the color of links on hover */
.topnav a:hover {
    text-shadow: 2px 2px 8px black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.navbar-default, .navbar-default .navbar-toggle .nav-tabs{
    border: none !important;
}

@media only screen and (max-width: 768px) {
    #myTopnav{
      border-bottom: solid 1px grey;
    }
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover{
	background-color: #829b02;
	color: #FFF;
	transition: all 0.25s;
}
.nav-pills>li>a{
	color: rgb(105,105,105);
	transition: all 0.25s;
}
.nav-pills>li>a:hover{
	border-color: #e6e6e6 #e6e6e6 #ddd;
}
