<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intermine Registry</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom-bootstrap-margin-padding.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link href="https://fonts.googleapis.com/css?family=Coda:800" rel="stylesheet">
    <style>
      #map { height: 500px; }
    </style>
	</head>
  <body>
    <nav class="navbar navbar-default">
      <div class="row">
        <div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myTopnav" aria-expanded="false">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    		</div>
        <div class="collapse navbar-collapse" id="myTopnav">
          <ul class="nav navbar-nav">
            <li><a class='ml-20' href="http://intermineorg.wordpress.com">Blog</a></li>
            <li><a class='ml-20' target="_github" href="https://github.com/intermine/intermine">GitHub</a></li>
            <li><a class='ml-20' href="http://intermine.readthedocs.io/en/latest/support/mailing-list/">Mailing list</a></li>
            <li><a class='ml-20' href="http://chat.intermine.org">Support chat</a></li>
            <li><a class='ml-20' href="http://bluegenes.apps.intermine.org/">BlueGenes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="http://intermine.org/" target="_blank">
              <img class="mr-40 ml-20" src="http://intermine.org/assets/img/logo.png" style="width: 140px; height: 18px;">
            </a> </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id = 'intro' class = 'pt-70 pl-50'>
      <div class="container-fluid">
        <div class="row">
          <div class = 'container'>
            <div class = 'row pt-sm-30'>
              <div class="col-lg-12 col-xs-12">
                <h1 class="header-title ttl-rsp">
                  <span id="typo"></span><span id="cursor">|</span>
                </h1>
              </div>
            </div>
            <div class="row pt-lg-20">
              <div class="col-lg-8">
                <div class="header-text header-dsc">
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'><span class="bold">Intermine Registry</span> is a web application that allow users to view information about existing InterMine instances.</p>
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'> This information includes: Instances names, URLs, versions, neighbours, descriptions, location, organisms and branding information. </p>
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'></p>
                <div class="pt-50">
                  <a class="github-button" href="https://github.com/intermine/intermine-registry" data-size="large" aria-label="Intermine-Registry on GitHub">Source</a>
                </div>
                </div>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="registry-body" class = 'pt-50'>
    	<div class="container pt-20">
        <h2 class='align-center mb-50' id="view-type"> List View </h2>
    		<div class="row mt-xs-20 mt-md-20 mt-lg-20 pb-50">
    			<div class="col-lg-10 col-lg-offset-1">
            <div class="row">
              <div class="col-md-2">
                <button class="btn" id="add-instance"> Add Instance </button>
              </div>
              <div class="col-md-7">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" id="search-instance" placeholder="Search for an instance..." />
                </div>
              </div>
              <div class="col-md-3" id="pills-container">
                <!-- Pills -->
                <ul class="nav nav-pills navbar-right" role="tablist" id='intances-tabs'>
                  <li role="presentation" class="active"><a href="#instances-list" id="list-tab" class="glyphicon glyphicon-list" aria-controls="list" role="tab" data-toggle="tab"></a></li>
                  <li role="presentation"><a href="#instances-grid" id="grid-tab" class="glyphicon glyphicon-th" aria-controls="grid" role="tab" data-toggle="tab"></a></li>
                  <li role="presentation"><a href="#instances-world" id="world-tab" class="glyphicon glyphicon-globe" aria-controls="world" role="tab" data-toggle="tab"></a></li>
                </ul>
              </div>
            </div>

    				<!-- List View -->
            <div class='pt-20'> </div>
    				<div class="tab-content mt-lg-20">
    					<div role="tabpanel" class="tab-pane fade in active" id="instances-list">
                <table style="width:100%" class="table table-hover table-responsive">
                  <thead>
                    <tr>
                      <th class="col-md-1"></th>
                      <th class="col-md-2">Name</th>
                      <th class="col-md-8">Description</th>
                      <th class="col-md-1">Version</th>
                    </tr>
                  </thead>
                  <tbody id="list-table-body">

                  </tbody>
                </table>

                <div id="mine-modals" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                  	<div class="modal-content">
                  		<div class="modal-header">
                  		<button type="button" class="close closeb" data-dismiss="modal">×</button>
                  			<h3 id="modal-mine-title">Modal header</h3>
                  	  </div>
                    	<div class="modal-body" id="mine-modal-body">


                    	</div>
                    	<div class="modal-footer">
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-danger">Delete</button>
                    		<button class="btn closeb" data-dismiss="modal">Close</button>
                    	</div>
                  	</div>
                  </div>
                </div>
    					</div>

    				  <!-- Grid View -->
  						<div role="tabpanel" class="tab-pane fade" id="instances-grid">
                <div class="container">
            			<!-- Codrops top bar -->

            			<div class="main">
            				<ul id="og-grid" class="og-grid">

            				</ul>

            			</div>
            		</div><!-- /container -->
  						</div>


  						<div role="tabpanel" class="tab-pane fade" id="instances-world">
                <div id="map" class="align-center"></div>
  						</div>

    				</div>
    			</div>
    		</div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_1_9_1 = $.noConflict(true);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_2_1_3 = $.noConflict(true);
    </script>
    <script language="javascript" src="/javascripts/header.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/mapView.js"></script>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
    <script language="javascript" src="/javascripts/index.js"></script>

    <script type="text/javascript">

    </script>


  </body>
</html>
